# Core functionality - changes here should be rare!
/src/app.py                   @Michael-Mattsson
/src/backend/database.py      @Michael-Mattsson
/src/backend/routers/auth.py  @Michael-Mattsson

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Michael-Mattsson
